<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notfound.makeamericafitagain">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GreetActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResultActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.notfound.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
                tools:replace="android:resource"/>
        </provider>

        <activity android:name=".ProfileActivity" />

        <meta-data
            android:name="com.snapchat.kit.sdk.clientId"
            android:value="c5910f6c-83e0-4562-80a2-a6f9cd2b3c16" />
        <meta-data
            android:name="com.snapchat.kit.sdk.redirectUrl"
            android:value="makeamericafitagain://snap-kit/oauth2" />
        <meta-data
            android:name="com.snapchat.kit.sdk.scopes"
            android:resource="@array/snap_connect_scopes" /> <!-- This should be a string array of scopes ! -->

        <activity
            android:name="com.snapchat.kit.sdk.SnapKitActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--
                    Enter the parts of your redirect url below
                    e.g., if your redirect url is myapp://snap-kit/oauth2
                        android:scheme="myapp"
                        android:host="abc"
                        android:path="/xy/z"
                !
                -->
                <data
                    android:host="snap-kit"
                    android:path="/oauth2"
                    android:scheme="makeamericafitagain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_history"
            android:parentActivityName=".ProfileActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>